/Dictionary_version1.2/build/
/Dictionary_version2.0_linh/build/
/Dictionary_version2.0/dist/
/Dictionary_version2.0_hdhiep_fixed/nbproject/private/
/Dictionary_version2.0_hdhiep_fixed/build/
/Dictionary_ver_2.1_finally/dist/
/Dictionary_version1.2/dist/
/Dictionary_version2.0_linh/dist/